.infoPanel {
    border: 2px solid;
    padding: 5px;
    width: 300px;
    height: auto;
    margin: 20px;
    overflow: auto;
}

.contentPanel {
    border: 2px solid;
    padding: 5px;
    width: 300px;
    height: 300px;
    margin: 20px;
}

.resizeable {
    resize: both;
    overflow: auto;
    position: relative;
}

.darkTheme {
    background-color: grey
}

.lightTheme {
    background-color: white
}